.customDotsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.25rem;
  margin-top: 1.25rem;
}

.customDot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 0.3125rem;
  border: none;
  cursor: pointer;
  transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.customDot:hover,
.customDot:focus {
  background-color: #555;
}

.activeDot {
  background-color: #555;
  width: 2.25rem;
  border-radius: 0.375rem;
}

@media (max-width: 480px) {
  .customDot {
    width: 0.625rem;
    height: 0.625rem;
  }

  .activeDot {
    width: 1.875rem;
  }
}